body{
  margin: 0;
  padding: 0;
}

#my_canvas_travel{
  position: relative;
  height: 600px;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

#my_canvas_battle{
  position: relative;
  height: 600px;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}
